.B1 {
    font-family: Avenir-Book; 
    font-size: 16px; color: #595959; 
    letter-spacing: 1.06px; 
    line-height: 20px;
}

.H2 {
    font-family: Avenir-Heavy; 
    font-size: 23px; 
    color: #494C7F; 
    letter-spacing: -0.36px; 
    line-height: 40px;
    font-weight: bold;
}

.question-box {
    width: 13rem;
    height: 13rem;
    background-color: white;
    display: flex;
    margin: 2rem;
    border-radius: 2rem;
    border-width: 0.1rem!important;
    border: solid;
    border-color: #84ADAE;
}

.question-box:hover {
    background-color: #84ADAE;
}

.question-box::selection {
  background-color: #84ADAE;
}

.center-element {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .space {
    height: 130px;
  }
  
  .space-between-title {
    height: 50px;
  }
  
  #app-title {
    margin-left: auto;
    margin-right: auto;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 36px;
    color: #494c7f;
    letter-spacing: -0.56px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
  }
  
  .app-description {
    opacity: 0.61;
    font-family: Avenir-Book;
    font-size: 16px;
    color: #595959;
    letter-spacing: 3.56px;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
  }
  
  #first-line-description {
    margin-top: 4%;
  }

  .question-input {
    width: 34rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: #FBEFF1;
    border: none;
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
  }

  .question-input:focus {
      outline: none;
  }
  
  .row {
    min-width: 400px;
  }
  
  #get-started-button {
    border: none;
    background-color: #84adae;
    color: white;
    border-radius: 18px;
    width: 100px;
    height: 35px;
    cursor: pointer;
  }
  
  #get-started-button:focus {
    outline: none;
    -moz-box-shadow: 0px 0px 4px 1px grey;
    -webkit-box-shadow: 0px 0px 4px 1px grey;
    box-shadow: 0px 0px 4px 2px grey;
  }
  

  .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 18px;
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 12px;
    border-radius: 10px
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-background,
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 100%;
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    background-color: #84ADAE ;
  }
  .mat-accent .mat-slider-thumb {
    height: 30px;
    width: 30px;
    background-color: white;
    border: solid 2px gray;
    bottom: -20px;
    right: -20px;
  }
  .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: white;
  }