<div class="container">
    <div class="space-between-title"></div>
    <div style="float: left; margin-left:1rem;">
        <img src="../../../assets/Icon-Back Arrow.svg" class="center-element" />
    </div>
    <div class="space-between-title"></div>
    <div class="space-between-title"></div>
    <div class="space-between-title"></div>

    <div class="H2" style="margin-left: 3rem;">
        What is your annual income?
    </div>


    <div class="row">
        <div class="space-between-title"></div>

        <input class="question-input">

        <div class="space-between-title"></div>

        <mat-slider min="1" max="100" step="1" value="10" style="    margin-left: 2rem;width: 35rem;"></mat-slider>

        <div class="space-between-title"></div>
    </div>


    <div class="row" style="display: flex;">
        <div style="padding-top: 3rem;margin-left: 2rem;margin-right: 2rem;">
            <img src="../../../assets/Icon-Bulb.svg" class="center-element" />
          </div>
        <div class="B1" id="first-line-description" style="margin-right: 2rem;">
         Your annual income is the amount you earn before taxes, also known as the gross amount.
         If you're buying a home with others, include their annual income before taxes as well.
        </div>
    </div>
    
    <div class="space-between-title"></div>
    <div class="row">
      <div>
          <button id="get-started-button" class="center-element">Next <img src="../../../assets/Icon-Back Arrow-white.svg" style="margin-bottom: 0.2rem;margin-left: 0.5rem; width: 1.5rem;transform: rotate(180deg);"></button>
      </div>
    </div>
    <div class="space-between-title">
    </div>
  </div>
  