<div class="container">
    <div class="space-between-title"></div>
    <div style="float: left; margin-left:1rem;">
        <img src="../../../assets/Icon-Back Arrow.svg" class="center-element" />
    </div>
    <div class="space-between-title"></div>
    <div class="space-between-title"></div>
    <div class="space-between-title"></div>

    <div class="H2" style="margin-left: 0.9rem;">
        What kind of home are you looking for?
    </div>


    <div class="row" style="display: flex;align-items: flex-end;place-content: center;">
        <div class="question-box" (click)="checkBox('house')">
            <img [src]="getHouseImage()" class="center-element" />
        </div>
        <div class="question-box" (click)="checkBox('condo')">
            <img [src]="getCondoImage()" class="center-element" />
        </div>
    </div>

    <div class="space-between-title"></div>

    <div class="row" style="display: flex;">
        <div style="padding-top: 3rem;margin-left: 2rem;margin-right: 2rem;">
            <img src="../../../assets/Icon-Bulb.svg" class="center-element" />
          </div>
        <div class="B1" id="first-line-description" style="margin-right: 2rem;">
          Different property types have different fees and fixed costs. 
          A condomium has condo fees and property taxes, but the condo fees may take care of the maintenance costs.
        </div>
    </div>
    
    <div class="space-between-title"></div>
    <div class="row">
      <div>
          <button id="get-started-button" class="center-element">Next <img src="../../../assets/Icon-Back Arrow-white.svg" style="margin-bottom: 0.2rem;margin-left: 0.5rem; width: 1.5rem;transform: rotate(180deg);"></button>
      </div>
    </div>
    <div class="space-between-title">
    </div>
  </div>
  