<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="space">
        </div>
        <div>
          <img src="../../../assets/Home Image.png" class="center-element" />
        </div>
    </div>
  </div>
  <div class="space-between-title">   
  </div>
  <div class="row">
        <div id="app-title">
            PopBox
        </div>
  </div>

  <div class="row">
      <div class="app-description" id="first-line-description">
        IT'S A BOX UNTIL YOU
      </div>
  </div>
  <div class="row">
      <div class="app-description">
        TURN IT TO A HOME
      </div>
  </div>
  <div class="space-between-title">
  </div>
  <div class="row">
    <div >
        <button id="get-started-button" class="center-element">Get Started</button>
    </div>
  </div>
  <div class="space-between-title">
  </div>
</div>
