/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 18px;
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 12px;
    border-radius: 10px
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-background,
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    background-color: #dcdcdc;
    height: 100%;
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    background-color: #84ADAE ;
  }
  .mat-accent .mat-slider-thumb {
    height: 30px;
    width: 30px;
    background-color: white;
    border: solid 2px rgb(207, 207, 207);
    bottom: -20px;
    right: -20px;
  }
  .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: white;
  }